body {
	margin: 0;
	padding: 0;
}

h3 {
	margin: 0;
}

article {
	background: #F8F8F8;

	& > div {
		border: solid 1px #eee;
		min-height: 80px;
	}
}

* {
	box-sizing: border-box;
}

.mic-header-row, article {
	height: 100%;
	overflow: hidden;

	& > div {
		padding: .5em;
	}
}

.mic-header-row {
	background: -moz-linear-gradient(top,  #b03e4d 0%, #812c38 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  #b03e4d 0%,#812c38 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top,  #b03e4d 0%,#812c38 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b03e4d 0%,#812c38 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b03e4d', endColorstr='#812c38',GradientType=0 ); /* IE6-9 */

	color: #fff;
	font-size: 1.25em;
	padding: 1em;
}

.mic-article-title-col {
	float: left;
	width: 55%;
}

.mic-article-author-col,
.mic-article-words-col,
.mic-article-submitted-col {
	float: left;
	width: 17.5%;
}

.mic-article-words-col {
	width: 10%;
	text-align: center;
}

.mic-article-thumbnail {
	float: left;
	margin-right: .5em;
	width: 15%;
}